@charset "utf-8";

:root{
  --main-color: #f26c4f;
  --sec-color:whitesmoke;
}
* {
  margin: 0px;
  padding: 0px;
}

/* Navigation Bar */
.my-header{
  width: 100%;
}
.my-logo-image {
  display: inline;
  width: 70px;
}
.my-nav-bar a {
  font-family: "Open Sans", sans-serif;
  color: var(--sec-color);
  height: auto;
}
.my-image {
  width: 300px;
}

/* Intro Section */
.intro-container {
  width: 100%;
  display: flex;
  color: var(--sec-color);
}
.intro-container .Contact-text {
  font-size: 0.7rem;
  color: var(--main-color);
}
.navBar-container a:hover{
  color: var(--main-color);
}
.my-photo {
  background-image: url(images/myphoto.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--sec-color);
  border-bottom-left-radius: 20%;
  height: 84%;
  width: 28%;
  position: relative;
  top: 7%;
  left: 10%;
}
.main-heading {
  background-image: url(images/intro\ bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150%;
  height: 400px;
  margin-left: 60px;
  font-family: "Lato", sans-serif;
  display: flex;
}
.main-heading h1 {
  position: relative;
  top: 20%;
  left: 76%;
}
.name-heading h1 span{
  height: 12px;
  width: 12px;
}
.aboutmyself-description{
  margin-right: 50px;
}
.style-pic {
  background-image: url(images/style\ bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 122px;
  margin-bottom: 20px;
}
.tagline {
  color: var(--main-color);;
  font-weight: 100;
}
.quote {
  font-size: 0.8rem;
  font-weight: 100;
}
.quote-author {
  font-size: 0.8rem;
  font-weight: 100;
}
.socailMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socailMedia a{
  margin: 10px 0px;
  font-size: 1.4rem;
  color: var(--sec-color);
}
.socailMedia i:hover{
  color: var(--main-color);;
  transform: scale(1.2);
}


/* Swipe Up */
.swipeUp-btn {
  background-color: #2f2f2f;
  border-bottom: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 40px;
  height: 35px;
  width: 68%;
  color: var(--sec-color);
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swipeUp-btn a {
  text-decoration: none;
  color: var(--sec-color);
}
.swipeUp-btn a:hover {
  color: #696969;
}

/* Contact Section */
.contact-section {
  width: 100%;
  height: 430px;
  background-color: #222222;
}
.contact {
  width: 100%;
  display: flex;
}
.contact-decoration {
  width: 30%;
  height: 430px;
  margin-top: 20px;
}
.contact-description {
  width: 65%;
  height: 430px;
  padding: 50px 0px;
}
.photo-bg {
  border: 8px solid var(--main-color);;
  height: 286px;
  width: 215px;
  position: relative;
  z-index: 1;
  left: 28%;
  bottom: 51%;
}
.contact-photo {
  height: 288px;
  width: 215px;
  background-image: url(images/aboutme-photo.PNG);
  border: 8px solid #2f2f2f;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 10%;
  left: 34%;
  z-index: 2;
}
.lets-work {
  width: 70%;
  display: flex;
}
.lets-work input {
  padding: 8px;
  width: 60%;
  border: none;
  margin-top: 12px;
  outline: none;
  border-bottom-left-radius: 3px;
  border-start-start-radius: 3px;
  color: rgb(100, 100, 100);
}
.lets-work a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  background-color: var(--main-color);;
  color: var(--sec-color);
  width: 40px;
  height: 40px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 1.5rem;
  
}
.lets-work a:hover{
  color:var(--sec-color);
  transform: scale(1.06);
}
.socialMediaLinks a:hover{
  color: var(--main-color);
  transform: scale(1.2);
}
.socialMediaLinks a{
  color: var(--sec-color);
  padding: 4px;
}


/* My Experties */

.exp-col{
  height: 200px;
}
.exp-icons{
  display: flex;
}
.fab1{
  margin-right:50px;
  margin-top: 20px;
}
.fab1:hover{
  transform: scale(1.1);
  color: var(--main-color);
}
.fab2{
  margin-bottom: 40px;
}
.myexp-div{
  width: 50%;
  margin-left: 65px;
}
.myexp-vector{
  width: 40%;
  height: 585px;
  background-image: url(images/myexperties-vetor.svg);
 background-size: contain;
 background-repeat: no-repeat;
}


/* My projects */

.my-projects-section{
  background-color: #222222;
  width: 100%;
}
.my-projects-container{
  padding-top: 3%;
}
.p-items{
  width: 100%;
  border: 8px solid rgb(49, 49, 49);
  margin-bottom: 10px;
  height: 230px;
  border-radius: 7px;
}
.p-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.btn{
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #EC5739 !important;
  border: 2px solid rgb(75, 74, 74) !important;
  color: #ffffff !important;
  font-weight: 300 !important;
  width: 100%;
  max-width: 40%;
}
.p1{
  background-image: url(images/dev-quiz.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.p2{
  background-image: url(images/todo-project.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.p3{
  background-image: url(images/dev-quiz.svg);
  background-size: cover;
  background-repeat: no-repeat;
}


/* Responsivness */
@media screen and (max-width:1200px) {
  .my-photo{
    width:31%;
    height: 69%;
    top: 9%;
    left: 10%;
  }
  .socailMedia{
    justify-content: flex-start;
    margin-top: 40px;
  }
  
}



@media screen and (max-width:992px){

  .myexp-section{
    display: block;
  }
  .myexp-vector{
    display: none;
  }
  .my-photo{
    width: 31%;
    height: 66%;
    top: 9%;
    left: 10%;
  }
  .main-heading{
    height: 376px;
    width:244%;
    margin-left:10px;
  }
  .name-heading{
    height: 200px;
  }
 
  .socailMedia{
    margin-left: 33px;
    justify-content: flex-start;
    margin-top: 35px;
  }
  .socailMedia .fab{
    font-size: 1.2rem;

  }

  .name-heading h1{
    font-size: 3.5rem;
    top: 45%;
    left: 75%;
  }
  .name-heading h1 span{
    width: 7px;
    height: 7px;
  }
  .aboutmyself-description{
    margin-right: 0px;
    margin-top: 30px;
  }
  .style-pic{
    display: none;
  }
  .swipeUp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swipeUp-btn a{
    font-size: 0.7rem;
    text-align: center;
  }
  .swipeUp-btn i{
    font-size: 0.6rem;
  }
  .row {
    font-size: 0.8rem;
  }
  .row a img{
    width: 50px;
}
}


@media all and (max-width:768px) { 
  

  .myexp-div{
    margin-left: 0px;
  }
  .contact-decoration .contact-photo{
      height: 200px;
      width: 150px;
  }
  .contact-decoration .photo-bg{
    height: 200px;
    width: 150px;
    bottom: 32%;
    left: 20%;
  }
  .my-photo{
    width: 31%;
    height: 79%;
    top: 9%;
    left: 10%;
  }
  .main-heading{
    height: 376px;
    width:100%;
    margin-left:10px;
  }
  .intro-container{
    display: flex;
    flex-direction: column;
  }
  .name-heading{
    height: 200px;
  }
 
  .socailMedia{
    margin-left: 33px;
    justify-content: center;
  }
  .socailMedia .fab{
    font-size: 1.5rem;

  }
  .style-pic{
    display: none;
  }
  .name-heading h1{
    font-size: 4.1rem;
    top: 45%;
    left: 75%;
  }
  .name-heading h1 span{
    width: 7px;
    height: 7px;
  }
  .aboutmyself-description{
    margin-left: 40px;
    margin-top: 30px;
  }
  .swipeUp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swipeUp-btn a{
    font-size: 0.7rem;
    text-align: center;
  }
  .swipeUp-btn i{
    font-size: 0.6rem;
  }
  .row {
    font-size: 0.8rem;
  }
  .row a img{
    width: 50px;
  }
}

@media screen and (max-width:576px) {
  .contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .contact-decoration .contact-photo{
    display: none;
}
  .contact-decoration .photo-bg{
    display: none;
}
  .lets-work input{
    width: 100%;
  } 
  .aboutmyself-description{
    margin-left: 0px;
  }
  .my-photo{
    width: 30%;
    height: 56%;
    top: 6%;
    left: 10%;
  }
  .intro-container{
    display: block;
    max-width: 100% !important;
  }
  .main-heading{
    height: 426px;
    width:100%;
    margin-left: 10px;
  }
  .name-heading{
    height: 200px;
  }
  .style-pic{
    display: none;
  }
  .socailMedia{
    margin-top: 19px;
    margin-left: 12px;
    justify-content: flex-start;
  }
  .socailMedia .fab{
    font-size: 1.2rem;

  }
  .name-heading h1{
    font-size: 3.1rem;
    top: 37%;
    left: 109%;
  }
  .name-heading h1 span{
    width: 6px;
    height: 6px;
  }
  .swipeUp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swipeUp-btn a{
    font-size: 0.7rem;
    text-align: center;
  }
  .swipeUp-btn i{
    font-size: 0.6rem;
  }
  .row {
    font-size: 0.8rem;
  }
  .row a img{
    width: 50px;
  }
}

@media screen and (max-width:440px) {
  .aboutmyself-description{
    margin-left: 0px;
  }
  .my-photo{
    width: 30%;
    height: 42%;
    top: 9%;
    left: 11%;
  }
  .main-heading{
    height: 327px;
    width: 87%;
    margin-left: 10px;
  }
  .name-heading{
    height: 200px;
  }
  .name-heading h1{
    font-size: 2.2rem;
    top: 30%;
    left: 104%;
  }
  .name-heading h1 span{
    width: 6px;
    height: 6px;
  }
  .intro-container{
    display: block;
 
  }
  .socailMedia{
    margin-top: 32px;
    margin-left: 31px;
    justify-content: flex-start;
  }
  .socailMedia .fab{
    font-size: 0.7rem;
    margin: 6px 0px;

  }
  .style-pic{
    display: none;
  }
  .swipeUp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swipeUp-btn a{
    font-size: 0.7rem;
    text-align: center;
  }
  .swipeUp-btn i{
    font-size: 0.6rem;
  }
  .row {
    font-size: 0.6rem;
  }
  .row a img{
    width: 46px;
  }
}

@media screen and (max-width:320px) {
  
  .aboutmyself-description{
    margin-left: 0px;
  }
  .my-photo{
    width: 27%;
    height: 44%;
    top: 7%;
    left: 11%;
  }
  .main-heading{
    height: 283px;
    width:102%;
    margin-left: 10px;

  }
  .name-heading{
    height: 200px;
  }
  .name-heading h1{
    font-size: 2.2rem;
    top: 19%;
    left: 82%;
  }
  .name-heading h1 span{
    width: 6px;
    height: 6px;
  }
  .intro-container{
    display: block;
  }
  .socailMedia{
    margin-top: 19px;
    margin-left: 12px;
    justify-content: flex-start;
  }
  .socailMedia .fab{
    font-size: 0.7rem;
    margin: 5px 0px;

  }
  .style-pic{
    display: none;
  }
  .swipeUp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swipeUp-btn a{
    font-size: 0.7rem;
    text-align: center;
  }
  .swipeUp-btn i{
    font-size: 0.6rem;
  }
  .row {
    font-size: 0.6rem;
  }
  .row a img{
    width: 46px;
  }
}
